<%= form_for(@zal, :html => {:multipart =>true}) do |f| %>
  <% if @zal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zal.errors.count, "error") %> prohibited this zal from being saved:</h2>

      <ul>
      <% @zal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Фотография %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit "Добавить" %>
  </div>
<% end %>
