<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stes_e.name %>
</p>

<p>
  <b>Title:</b>
  <%= @stes_e.title %>
</p>

<p>
  <b>Body:</b>
  <%= @stes_e.body %>
</p>


<%= link_to 'Edit', edit_stes_e_path(@stes_e) %> |
<%= link_to 'Back', stes_es_path %>
