<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Title:</b>
  <%= @site.title %>
</p>

<p>
  <b>Body:</b>
  <%= @site.body %>
</p>

<p>
  <b>Path:</b>
  <%= @site.path %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
