<div class="part">

  <div style ="font-size: 20px; font-style: bold; margin-left: 30px;"> <%=  button_to('Выйти', destroy_user_session_path, :method => :delete, :class => "button") %>
  </div>

  <h4>
    О фирме
  </h4>

  <h5 class="part">
    <%=  link_to "Русский", :controller => :sites, :action => :edit, :id => "1" %>
  </h5>

  <h5 class="part">
    <%= link_to "Эстонский", :controller => :stes_es, :action => :edit, :id => "2" %>
  </h5>

  <h5 class="part">
    <%= link_to "Фотогалерея", abouts_path  %>
  </h5>

  <h4>
    Виды деятельности
  </h4>

  <h5 class="part">
    <%=  link_to "Русский", :controller => :sites, :action => :edit, :id => "5" %>
  </h5>

  <h5 class="part">
    <%= link_to "Эстонский", :controller => :stes_es, :action => :edit, :id => "6" %>
  </h5>

  <h5 class="part">
    <%=  link_to "Фотогалерея", acts_path %>
  </h5>

  <h4>
    Партнеры
  </h4>

  <h5 class="part">
    <%=  link_to "Русский", :controller => :sites, :action => :edit, :id => "7" %>
  </h5>

  <h5 class="part">
    <%= link_to "Эстонский", :controller => :stes_es, :action => :edit, :id => "8" %>
  </h5>

  <h5 class="part">
   <%= link_to "Фотогалерея", parts_path %>
  </h5>

  <h4>
    Общестроительные работы
  </h4>

  <h5 class="part">
    <%=  link_to "Русский", :controller => :sites, :action => :edit, :id => "2" %>
  </h5>

  <h5 class="part">
    <%= link_to "Эстонский", :controller => :stes_es, :action => :edit, :id => "3" %>
  </h5>

  <h5 class="part">
    <%= link_to "Фотогалерея", builds_path %>
  </h5>

  <h4>
    Окна
  </h4>

  <h5 class="part">
    <%=  link_to "Русский", :controller => :sites, :action => :edit, :id => "3" %>
  </h5>

  <h5 class="part">
    <%= link_to "Эстонский", :controller => :stes_es, :action => :edit, :id => "4" %>
  </h5>

  <h5 class="part">
    <%= link_to "Фотогалерея", wins_path %>
  </h5>

  <h4>
    Двери
  </h4>

  <h5 class="part">
    <%=  link_to "Русский", :controller => :sites, :action => :edit, :id => "4" %>
  </h5>

  <h5 class="part">
    <%= link_to "Эстонский", :controller => :stes_es, :action => :edit, :id => "5" %>
  </h5>

  <h5 class="part">
    <%= link_to "Фотогалерея", dvers_path %>
  </h5>

  <h4>
    Жалюзи
  </h4>

  <h5 class="part">
    <%=  link_to "Русский", :controller => :sites, :action => :edit, :id => "6" %>
  </h5>

  <h5 class="part">
    <%= link_to "Эстонский", :controller => :stes_es, :action => :edit, :id => "7" %>
  </h5>

  <h5 class="part">
   <%= link_to "Фотогалерея", zals_path %>
  </h5>

   <h4>
    <%= link_to "Контакты", :controller => :contacts, :action => :edit, :id => "1" %>
  </h4>

 

</div>
